<header>

	<h3>About Owentasks</h3>
	<p>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
	Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <br>
	Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
	</p>
	
	<h3>Owentasks</h3>
	<p>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
	Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <br>
	Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
	</p>

	<h3>About the Developers</h3>	
 	
	<p>
	<%= image_tag("jed.jpg", :alt => "John Crisostomo", :size => "200x300") %><br />
	Name: John Crisostomo<br />
	Contact No: 4924957<br />
	Email: jdc@yahoo.com
	</p>

	<p>
	<%= image_tag("joanel.jpg", :alt => "Joanel Divinagracia", :size => "200x300") %><br />
	Name: Joanel Divinagracia<br />
	Contact No: 7436543<br />
	Email: jmd@yahoo.com
	</p>
	
	
	<p>
	<%= image_tag("arveen.jpg", :alt => "Arveen Landa", :size => "200x300") %><br />
	Name: Arveen Landa<br />
	Contact No: 7653311<br />
	Email: aml@yahoo.com
	</p>
	
	
	<p>
	<%= image_tag("drew.jpg", :alt => "Andrew Yuson", :size => "200x300") %><br />
	Name: Andrew Yuson<br />
	Contact No: 7653323<br />
	Email: mby@yahoo.com
	</p>
	
	<p>
	<%= image_tag("oen.jpg", :alt => "Oeneri Garcia", :size => "200x300") %><br />
	Name: Oeneri Garcia<br>
	Contact No: 4248765<br>
	Email: oeg@yahoo.com
	</p>
	
